<script type="text/javascript">
var settings = {
  width: '90%',
  height: '90%',
  close: function() {}
};

function closeIFrame(){
  $(window).unbind('resize');
  $('#contentr-overlay').remove();
  settings.close();
  location.reload();
}
</script>
<div class="contentr-area" data-contentr-area="<%= area_name %>" data-contentr-page="<%= page.id %>">
  <% if authorized %>
    <% unless page.published %>
      <div class="page-published">
        Page is not published yet!
      </div>
    <% end %>
    <div class="toolbar">
      <div class="area-name"><%= area_name %></div>
      <div class="page-classname"><%= page.classname %></div>
      <div class="page-urlpath"><%= page.url_path %></div>
      <div class="controls">
        <%= link_to('New', contentr_admin_new_paragraph_path(:page_id => page, :area_name => area_name, :site => page.is_a?(Contentr::Site)), :rel => 'contentr-overlay') %>
      </div>
    </div>
  <% end %>

  <% paragraphs.each do |p| %>
    <% template_name = p.class.to_s.tableize.singularize %>
    <div id="<%= "paragraph_#{p.id}" %>" class="paragraph">
      <% if authorized %>
        <div class="toolbar">
          <div class="handle">&#9776;</div>
          <%= render partial: "/contentr/admin/application/publish", locals: {p: p, area_name: area_name, page: page} %>
          <div class="controls">
            <%= link_to('Edit', contentr_admin_edit_paragraph_path(:page_id => page, :id => p, :site => page.is_a?(Contentr::Site)), :rel => 'contentr-overlay') %>
            <%= link_to('Delete', contentr_admin_paragraph_path(:page_id => page, :id => p, :site => page.is_a?(Contentr::Site)), :method => :delete, :confirm => 'Really delete?') %>
          </div>
        </div>
      <% end %>
      <div>
        <%= render(template: "contentr/paragraphs/#{template_name}", locals: {paragraph: p}) %>
      </div>
    </div>
  <% end %>
</div>
