-# coding: utf-8
!!! 5
%html
  %head
    %title CMS Admin
    = stylesheet_link_tag('mm_cms/admin/base.css')
    = stylesheet_link_tag('mm_cms/admin/admin.css')
    = javascript_include_tag('mm_cms/admin/jquery.js')
    = javascript_include_tag('mm_cms/admin/jquery.cookie.js')
    = javascript_include_tag('mm_cms/admin/jquery.form.js')
    = javascript_include_tag('mm_cms/admin/hoverintent.js')
    = javascript_include_tag('mm_cms/admin/superfish.js')
    = javascript_include_tag('mm_cms/admin/rails.js')
    = javascript_include_tag('mm_cms/admin/admin.js')
    = javascript_include_tag('mm_cms/admin/admin.pagetree.js')
    = javascript_include_tag('mm_cms/admin/jquery-ui-custom.js')
    = csrf_meta_tag
  %body
    #toolbar-wrapper
      #toolbar.container_12.clearfix
        = render 'mm_cms/admin/shared/toolbar'

    #main-navigation-wrapper
      #main-navigation.container_12.clearfix
        = render 'mm_cms/admin/shared/main_navigation'

    #main-wrapper
      #main.container_12.clearfix
        = yield


