-# coding: utf-8
!!! 5
%html
  %head
    %title CMS Admin
    = stylesheet_link_tag('mm_cms/admin/base.css')
    = stylesheet_link_tag('mm_cms/admin/admin.css')
    = javascript_include_tag('mm_cms/admin/jquery.js')
    = javascript_include_tag('mm_cms/admin/jquery.cookie.js')
    = javascript_include_tag('mm_cms/admin/jquery.hotkeys.js')
    = javascript_include_tag('mm_cms/admin/jquery.jstree.js')
    = javascript_include_tag('mm_cms/admin/hoverintent.js')
    = javascript_include_tag('mm_cms/admin/superfish.js')
    = javascript_include_tag('mm_cms/admin/rails.js')
    = javascript_include_tag('mm_cms/admin/admin.js')
    = javascript_include_tag('mm_cms/admin/admin.pagetree.js')
    = csrf_meta_tag
  %body
    #toolbar-wrapper
      #toolbar.container_12.clearfix
        = render 'mm_cms/admin/shared/toolbar'

    #header-wrapper
      #header.container_12.clearfix
        %h1.site-title= MmCms.site_name
        #main-navigation.clearfix
          = render 'mm_cms/admin/shared/main_navigation'

    #main-wrapper
      #main.container_12.clearfix= yield

-#    #header-wrapper
-#      #header.container_12
-#        .clearfix
-#          %h1.title MmCMS Admin
-#        .clearfix
-#          #main-navigation
-#            = render 'mm_cms/admin/shared/main_navigation'
-#
-#    #stage-wrapper
-#      #stage.container_12
-#        %h1.title Dashboard
-#


