<!DOCTYPE html>
<html>
<head>
  <title>Contentr Demo :: <%= @contentr_page.try(:name) || 'Some page' %></title>
  <%= stylesheet_link_tag    "application" %>
   <%= stylesheet_link_tag    "contentr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    .contentr.menu li.item { font-weight: normal; }
    .contentr.menu li.item { font-style: normal; }
    .contentr.menu li.item.active { font-weight: bold; }
    .contentr.menu li.item.open { font-style: italic; }
  </style>
  <%= contentr_google_analytics %>
</head>
<body>
  <%= contentr_toolbar %>

  <h1><%= @contentr_page.try(:name) || 'Some page' %></h1>
  <hr/>

  <!-- main menu -->
  <% menu = contentr_menu(start: 0, depth: 2) %>
  <% if menu.present? %>
    <%= menu %>
    <hr/>
  <% end %>

  <!-- submenu -->
  <% submenu = contentr_menu(start: 1) %>
  <% if submenu.present? %>
    <%= submenu %>
    <hr/>
  <% end %>

  <!-- breadcrump -->
  <% breadcrumb = contentr_breadcrumb %>
  <% if breadcrumb.present? %>
    You are here:
    <%= breadcrumb %>
    <hr/>
  <% end %>

  <!-- flash -->
  <% if flash.present? %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "alert #{name}" %>
    <% end %>
  <% end %>

  <!-- main content -->
  <%= yield %>

  <!-- footer -->
  <hr/>
  <div>
    <%= contentr_site_area(:body) %>
  </div>
</body>
</html>
