<!DOCTYPE html>
<html>
<head>
  <title>Contentr Demo :: <%= current_page.name %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    .contentr.menu li.item { font-weight: normal; }
    .contentr.menu li.item { font-style: normal; }
    .contentr.menu li.item.active { font-weight: bold; }
    .contentr.menu li.item.open { font-style: italic; }
  </style>
  <%= contentr_google_analytics %>
</head>
<body>
  <%= contentr_toolbar %>

  <h1>CONTENTR LAYOUT - Page: <%= current_page.name %></h1>
  <hr/>

  <!-- main menu -->
  <%= menu(:start => 0, :depth => 2) %>
  <hr/>

  <!-- submenu -->
  <% submenu = menu(:start => 1) %>
  <% if submenu.present? %>
    <%= submenu %>
    <hr/>
  <% end %>

  <!-- breadcrump -->
  You are here:
  <%= breadcrumb %>
  <hr/>

  <!-- flash -->
  <div><%= flash[:message] %></div>

  <!-- main content -->
  <%= yield %>

  <!-- footer -->
  <hr/>
  <div>
    Some footer here...
  </div>
</body>
</html>