<h1>Articles</h1>

<%= contentr_area :body %>

<ul>
<% @articles.each do |a| %>
  <li>
    <strong><%= link_to a.title, article_url(a) %></strong><br/>
    <div><%= a.body %></div>
    <p>
      <%= link_to 'Edit', edit_article_url(a) %> |
      <%= link_to 'Destroy?', article_url(a), :method => :delete, :confirm => 'Destroy?' %>
    </p>
  </li>
<% end %>
</ul>

<%= link_to 'Create a new article', new_article_url %>