<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<%= contentr_area :body %>

<%= link_to 'Edit', edit_article_path(id: @article) %> |
<%= link_to 'Back', articles_path %>
