<% if @root_page.present? %>
  <div>
    <%= link_to('Eine Ebene höher',
                contentr_admin_pages_path(:root => @root_page.parent),
                :rel => 'ajax-navigate')
    %>
  </div>
<% end %>

<% if @pages.present? %>
  <table class="contentr pagegrid">
    <thead>
      <tr>
        <th class="icon">Icon</th>
        <th class="name">Name</th>
        <th class="slug">Slug</th>
        <th class="template">Template</th>
        <th class="layout">Layout</th>
        <th class="tools">Tools</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td class="icon">+</td>
          <td class="name">
            <%= link_to(page.name,
                        contentr_admin_pages_path(:root => page),
                        'data-path' => page.path,
                        :rel => 'ajax-navigate')
            %>
          </td>
          <td class="slug"><%= page.slug %></td>
          <td class="template"><%= page.template %></td>
          <td class="layout"><%= page.layout %></td>
          <td class="tools">
            <%= link_to('Move', '#', :rel => 'move') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>Keine Seiten vorhanden</div>
<% end %>