<div id="page-manager">
  <div class="toolbar">
    <% if @root_page.present? %>
      <%=
        link_to(contentr_admin_pages_path(:root => @root_page.parent), :rel => 'pm-navigate', :class => 'button') do
          'Eine Ebene höher'
        end
      %>
    <% end %>

    <%= link_to 'Create a new page', new_contentr_admin_page_path(:root => @root_page), :class => 'button' %>
  </div>

  <table id="pages_table" class="contentr pagegrid" data-root-page-id="<%= @root_page ? @root_page.id : '' %>">
    <thead>
      <tr>
        <th class="icon">Icon</th>
        <th class="name">Name</th>
        <th class="slug">Slug</th>
        <th class="published">Published?</th>
        <th class="hidden">Hidden?</th>
        <th class="template">Template</th>
        <th class="layout">Layout</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr data-page-id="<%= page.id %>" data-page-name="<%= page.name %>">
          <td class="icon">
            <div class="containr">
              <%= image_tag('contentr/admin/page-icon.png') %>
            </div>
          </td>
          <td class="name">
            <div class="containr">
              <%=
                link_to(contentr_admin_pages_path(:root => page), :rel => 'pm-navigate') do
                  page.has_children? ? page.name + " >>" : page.name
                end
              %>
              <div class="tools">
                <ul>
                  <li class="tool move-begin"><a href="#">Move</a></li>
                  <li class="tool move-end"><a href="#">Insert below</a></li>
                  <li class="tool edit"><%= link_to('Edit', edit_contentr_admin_page_path(page, :root => @root_page)) %></li>
                  <% if !page.is_a?(Contentr::LinkedPage) %>
                    <li class="tool delete"><%= link_to('Delete', contentr_admin_page_path(page, :root => @root_page), :method => :delete, :confirm => "Really delete page '#{page.name}'? All subpages will be deleted too.") %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </td>
          <td class="slug"><%= page.slug %></td>
          <td class="published"><%= page.published? %></td>
          <td class="hidden"><%= page.hidden? %></td>
          <td class="template"><%= page.template if page.is_a?(Contentr::ContentPage) %></td>
          <td class="layout"><%= page.layout if page.is_a?(Contentr::ContentPage) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
