<script type="text/javascript" charset="utf-8" >
$(function (){
    if($('.alert').length){
      parent.closeIFrame();
    }
  });
</script>
<div id="page-manager">
  <div class="toolbar">
    <% if @root_page.present? %>
      <%= link_to 'Create a new page', new_contentr_admin_page_path(:root => @root_page), :class => 'button header-link' %>
    <% else %>
    <%= link_to 'Create a new site', new_contentr_admin_site_path(), :class => 'button header-link' %>
    <% end %>
    <div class="cur_path">
      Current Path: <%= @page.present? ? @page.url_path : "/" %>
    </div>
    <div>
      <% if @root_page.present? %>
        <%= link_to(raw('&#8679; Go up'), contentr_admin_pages_path(:root => @root_page.parent), :rel => 'pm-navigate', 
          class: 'button header-link')
        %>
      <% end %>
      </div>  
  </div>

  <table id="pages_table" class="contentr pagegrid" data-root-page-id="<%= @root_page ? @root_page.id : '' %>">
    <thead>
      <tr>
        <th class="type">Type</th>
        <th class="name">Name</th>
        <th class="slug">Slug</th>
        <th class="published">Published?</th>
        <th class="hidden">Hidden?</th>
        <th class="template">Template</th>
        <th class="layout">Layout</th>
        <th></th><th></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr data-page-id="<%= page.id %>" data-page-name="<%= page.name %>">
          <td class="type">
            <div class="containr">
              <%= page.classname %>
            </div>
          </td>
          <td class="name">
            <div class="containr">
              <%=
                link_to(contentr_admin_pages_path(:root => page), :rel => 'pm-navigate') do
                  page.has_children? ? page.name + " >>" : page.name
                end
              %>
            </div>
          </td>
          <td class="slug"><%= page.slug %></td>
          <td class="published"><%= page.published? %></td>
          <td class="hidden"><%= page.hidden? %></td>
          <td class="template"><%= page.template if page.is_a?(Contentr::ContentPage) %></td>
          <td class="layout"><%= page.layout if page.is_a?(Contentr::ContentPage) %></td>
          </td>
          <td>
            <li class="">
              <%= link_to(raw('<icon class="icon-edit"></icon>'), edit_contentr_admin_page_path(page, :root => @root_page)) %>
            </li>
          </td><td>
            <% unless page.is_a?(Contentr::LinkedPage) %>
              <li class=""><%= link_to(raw('<icon class="icon-remove"></icon>'), contentr_admin_page_path(page, :root => @root_page), :method => :delete, :confirm => "Really delete page '#{page.name}'? All subpages will be deleted too.") %></li>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @page.present? && @page.menu_only? %>
    <div class="btn-danger menu-only-box">Only a menu item</div>
  <% else %>
    <%= contentr_area :body %>
  <% end %>
</div>
