= simple_form_for(@page, :as => :page, :url => admin_page_url, :html => {:class => 'page-editor'}) do |f|
  -#= f.input :layout, :collection => MmCms.layouts, :prompt => false
  = f.input :template, :collection => MmCms.templates, :prompt => false
  = f.input :name
  = f.input :slug

  = f.simple_fields_for :data do |df|
    = form_fields_for_data(df, @page)

  = f.button :submit

  = link_to('Delete this page!', '#', 'class' => 'deletepagelink')

