- if @parent_page.present?
  %div#backlink
    - if @parent_page.parent.present?
      = link_to('Back', '#', 'class' => 'backlink', 'data-id' => @parent_page.parent.id)
    - else
      = link_to('Back', '#', 'class' => 'backlink')

%ul.nav
  - if (@parent_page.present?)
    %li.root= link_to(@parent_page.name, '#', 'class' => 'page', 'data-id' => @parent_page.id)
  - @pages.each do |p|
    %li.child
      - if p.has_children?
        = link_to("#{p.name} &raquo;".html_safe, '#', 'class' => 'page', 'data-id' => p.id, 'data-children' => 'true')
      - else
        = link_to(p.name, '#', 'class' => 'page', 'data-id' => p.id)