%div{'id' => 'page', 'data-id' => @page.id}

  %h3= "Create new page"

  = simple_form_for(@page, :as => :page, :url => admin_pages_url, :html => {:class => 'page-editor'}) do |f|
    = f.input :template, :collection => MmCms.templates, :prompt => false
    = f.input :name
    = f.input :slug

    = f.button :submit